.h-header {
  height: 80px;
}

.highlight {
  position: relative;
}

.highlight:hover::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #3b82f6;
  bottom: 0;
  animation-name: animation-highlight;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes animation-highlight {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.active-link {
    color: #225bb8;
}

.line {
    border-top: 2px solid #cdc6c6 !important;
}


