<table class="styled-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Date of birth</th>
      <th>Full name</th>
      <th>Gender</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dom</td>
      <td>6000</td>
      <td>6000</td>
      <td>6000</td>
      <td>6000</td>
    </tr>
    <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
      <td>5150</td>
      <td>5150</td>
      <td>5150</td>
    </tr>
    <!-- and so on... -->
  </tbody>
</table>
