<div
  class="min-h-screen flex flex-grow items-center justify-center bg-white dark:bg-gray-900"
>
  <div
    class="rounded-lg bg-white p-8 text-center shadow-xl dark:bg-slate-900 dark:border-gray-700 dark:text-white"
  >
    <h1 class="mb-4 text-4xl font-bold">403</h1>
    <p class="text-gray-600 dark:text-slate-400">
      Oops! You are not allowed to access this page
    </p>
    <a
      routerLink="/"
      class="mt-4 inline-block rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600"
    >
      Go back to Home
    </a>
    <app-toggle [class]="'hidden'"></app-toggle>
  </div>
</div>
