<header class="header">
  <nav>
    <ul class="navigate">
      <li>
        <a
          class="navigate__option"
          routerLink="/home"
          routerLinkActive="navigate__option-active"
          >Home</a
        >
      </li>
      <li>
        <a
          class="navigate__option"
          routerLink="/employees"
          routerLinkActive="navigate__option-active"
          >Employees</a
        >
      </li>
      <li>
        <a
          class="navigate__option"
          routerLink="/departments"
          routerLinkActive="navigate__option-active"
          >Departments</a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
