<div class="min-h-screen h-full flex flex-col gap-3 py-10 items-center">
  <div *ngIf="loaderService.getLoading()" class="text-center">
    <!-- Loading -->
    <div role="status">
      <svg
        aria-hidden="true"
        class="inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
  <div
    *ngIf="departmentList$ | async as departments"
    class="w-full flex justify-between max-w-4xl 2xl:max-w-none"
  >
    <button
      title="Add employee"
      class="rounded-full basis-10 bg-blue-500 hover:bg-blue-800 px-1 py-1"
      (click)="onShowModal()"
    >
      <img class="w-8 h-8" src="../../../assets/add.png" alt="Add" />
    </button>

    <!-- Select menu -->
    <select
      id="department-selections"
      (change)="onSelectDepartment($event)"
      class="overflow-y-auto bg-gray-50 border basis-60 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="0" selected>All Departments</option>
      <option
        *ngFor="let department of departments"
        value="{{ department.id }}"
      >
        {{ department.departmentName }}
      </option>
    </select>
  </div>

  <div *ngIf="employeeList$ | async as employeeList" class="w-full max-w-4xl">
    <div
      class="w-full overflow-x-scroll md:overflow-auto max-w-7xl 2xl:max-w-none"
    >
      <table
        class="table-auto overflow-scroll md:overflow-auto w-full text-left font-inter border"
      >
        <thead class="rounded-lg text-base text-white font-semibold w-full">
          <tr class="bg-blue-500">
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              No.
            </th>
            <th
              class="py-3 px-3 text-whitesm:text-base font-bold whitespace-nowrap"
            >
              Full name
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Date of birth
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Gender
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Salary
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Department
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let employee of employeeList.employees; index as i">
          <tr class="{{ i % 2 === 0 ? 'bg-white' : 'bg-blue-100' }}">
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ i + 1 }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              <a
                class="text-blue-500 hover:text-blue-800 underline cursor-pointer"
                >{{
                  employee.firstName +
                    " " +
                    (employee.middleName === null
                      ? ""
                      : employee.middleName + " ") +
                    employee.lastName
                }}</a
              >
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ employee.dateOfBirth }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ employee.gender }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ employee.salary }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ employee.department.departmentName }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === employeeList.employees.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              <span class="flex gap-2">
                <img
                  class="cursor-pointer w-5 h-5"
                  src="../../../assets/pen.png"
                  alt="Edit"
                  (click)="onSelectEmployee(employee)"
                />
                <img
                  class="cursor-pointer w-5 h-5"
                  src="../../../assets/delete.png"
                  alt="Delete"
                  (click)="onDeleteEmployee(employee.id)"
                />
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="w-full flex justify-center sm:justify-between flex-col sm:flex-row gap-5 mt-1.5 px-1 items-center"
    >
      <div class="text-lg">
        Showing {{ pageSize * (currentPage - 1) + 1 }} to
        {{
          employeeList.totalCount < pageSize
            ? employeeList.totalCount
            : pageSize * currentPage
        }}
        of {{ employeeList.totalCount }} entries
      </div>
      <div class="flex">
        <ul
          class="flex justify-center items-center gap-x-[10px]"
          role="navigation"
          aria-label="Pagination"
        >
          <li
            class="flex hover:bg-blue-800 make-filter items-center justify-center w-[36px] rounded-[6px] h-[36px] border-[1px] border-solid border-[#E4E4EB] {{
              currentPage === 1
                ? 'bg-[#cccccc] pointer-events-none'
                : 'cursor-pointer'
            }}"
            (click)="onPrev()"
          >
            <img
              src="https://www.tailwindtap.com/assets/travelagency-admin/leftarrow.svg"
            />
          </li>
          <li
            *ngFor="let page of numberOfPagination"
            class="flex hover:bg-blue-800 hover:text-white items-center justify-center w-[36px] rounded-[6px] h-[34px] border-solid border-[1px] bg-[#FFFFFF] cursor-pointer {{
              page === currentPage
                ? 'text-blue-600  border-sky-500'
                : 'border-[#E4E4EB]'
            }}"
            (click)="onSelectPage(page)"
          >
            {{ page }}
          </li>
          <li
            class="flex make-filter hover:bg-blue-800 items-center justify-center w-[36px] rounded-[6px] h-[36px] border-[1px] border-solid border-[#E4E4EB] {{
              currentPage === employeeList.lastPage - 1 ||
              employeeList.lastPage === 1
                ? 'bg-[#cccccc] pointer-events-none'
                : 'cursor-pointer'
            }}"
            (click)="onNext()"
          >
            <img
              src="https://www.tailwindtap.com/assets/travelagency-admin/rightarrow.svg"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-employee-modal
  [departments]="departmentList$ | async"
  (addEmployee)="onAddEmployee($event)"
  (editEmployee)="onEditEmployee($event)"
  #modal
></app-employee-modal>
