<div
  *ngIf="{
    employee: employee$ | async,
    departments: departmentList$ | async
  } as data"
  class="w-full flex flex-col items-center gap-2 py-3"
>
  <app-loading></app-loading>

  <form
    *ngIf="data.employee as employee"
    [formGroup]="editEmployeeForm"
    (ngSubmit)="onSubmit(employee)"
    id="employee-details"
    class="w-full md:w-4/5 py-2 border rounded-md flex flex-col gap-2 items-center dark:border-gray-700"
  >
    <div class="w-full relative">
      <p class="ml-2 font-bold text-lg dark:text-white">Employee's details</p>
      <button
        *ngIf="!isEdit && authService.hasRole(['ADMIN', 'USER'])"
        type="button"
        class="text-sm md:text-base border flex items-center gap-2 hover:bg-slate-100 rounded-md p-2 absolute top-0 right-0 mr-2 dark:text-white dark:bg-gray-800 dark:hover:bg-gray-700 dark:border-gray-700"
        (click)="onEdit(employee)"
      >
        Edit
        <img class="w-5 h-5" src="../../../assets/edit.png" alt="Edit" />
      </button>
      <div *ngIf="isEdit && authService.hasRole(['ADMIN', 'USER'])" class="flex items-center absolute top-0 right-0 mr-2">
        <button
          data-modal-hide="popup-modal"
          type="submit"
          [disabled]="editEmployeeForm.invalid"
          class="{{
            editEmployeeForm.invalid
              ? 'bg-blue-200 cursor-not-allowed'
              : 'bg-blue-500 hover:bg-blue-800'
          }} text-sm md:text-base p-2 text-white rounded-lg inline-flex gap-2 items-center text-center"
        >
          Submit
        </button>
        <button
          data-modal-hide="popup-modal"
          type="button"
          class="text-sm md:text-base p-2 ms-3 text-gray-900 focus:outline-none bg-gray-200 rounded-lg border border-gray-200 hover:bg-gray-300 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          (click)="onCancel(employee)"
        >
          Cancel
        </button>
      </div>
    </div>
    <div class="w-full py-2 grid grid-cols-2 gap-1 md:gap-0 mt-2">
      <div class="col-span-1 pl-2 md:pr-2 flex flex-col gap-3">
        <span
          id="input-group"
          class="flex flex-wrap gap-2 items-center w-full relative"
        >
          <label
            for="firstName"
            class="text-sm md:text-base font-bold md:basis-1/4 dark:text-white"
            >First name:
          </label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('firstName')?.errors &&
              isDirtyOrTouched('firstName')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} border w-full md:flex-1 text-sm md:text-base border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <div
            *ngFor="let validation of validateMessages.firstName"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('firstName') &&
                editEmployeeForm.get('firstName')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
        <span
          id="input-group"
          class="flex flex-wrap gap-2 items-center relative"
        >
          <label for="middleName" class="text-sm md:text-base font-bold md:basis-1/4 dark:text-white"
            >Middle name:
          </label>
          <input
            type="text"
            id="middleName"
            formControlName="middleName"
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('middleName')?.errors &&
              isDirtyOrTouched('middleName')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} text-sm md:text-base w-full md:flex-1 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <div
            *ngFor="let validation of validateMessages.middleName"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('middleName') &&
                editEmployeeForm.get('middleName')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
        <span
          id="input-group"
          class="flex flex-wrap gap-2 items-center relative"
        >
          <label for="salary" class="text-sm md:text-base font-bold md:basis-1/4 dark:text-white"
            >Salary:
          </label>
          <input
            type="number"
            id="salary"
            formControlName="salary"
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('salary')?.errors &&
              isDirtyOrTouched('salary')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} text-sm md:text-base w-full md:flex-1 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <div
            *ngFor="let validation of validateMessages.salary"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('salary') &&
                editEmployeeForm.get('salary')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
        <span
          id="input-group"
          class="flex flex-wrap gap-2 items-center relative"
        >
          <label for="gender" class="text-sm md:text-base font-bold md:basis-1/4 dark:text-white"
            >Gender:
          </label>
          <span
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('gender')?.errors &&
              isDirtyOrTouched('gender')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} p-2 text-sm md:text-base w-full md:flex-1 flex flex-wrap gap-2 md:gap-10 border border-gray-300 text-md rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <span class="flex gap-2 items-center">
              <input
                name="gender"
                formControlName="gender"
                value="FEMALE"
                type="radio"
              />
              <label for="female">Female</label>
            </span>
            <span class="flex gap-2 items-center">
              <input
                name="gender"
                formControlName="gender"
                value="MALE"
                type="radio"
              />
              <label for="Male">Male</label>
            </span>
          </span>

          <div
            *ngFor="let validation of validateMessages.gender"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('gender') &&
                editEmployeeForm.get('gender')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
      </div>

      <!-- col-2 -->
      <div class="col-span-1 pr-2 md:pl-2 flex flex-col gap-3">
        <span
          id="input-group"
          class="flex flex-wrap gap-2 items-center relative"
        >
          <label for="lastName" class="text-sm md:text-base font-bold md:basis-1/4 dark:text-white"
            >Last name:
          </label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('lastName')?.errors &&
              isDirtyOrTouched('lastName')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} text-sm md:text-base w-full md:flex-1 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <div
            *ngFor="let validation of validateMessages.lastName"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('lastName') &&
                editEmployeeForm.get('lastName')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
        <span
          id="input-group"
          class="flex flex-wrap gap-2 items-center relative"
        >
          <label
            for="dateOfBirth"
            class="font-bold md:basis-1/4 dark:text-white text-sm md:text-base"
            >Date of birth:
          </label>
          <input
            type="date"
            id="dateOfBirth"
            formControlName="dateOfBirth"
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('dateOfBirth')?.errors &&
              isDirtyOrTouched('dateOfBirth')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} text-sm md:text-base w-full md:flex-1 border border-gray-300 text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          />

          <div
            *ngFor="let validation of validateMessages.dateOfBirth"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('dateOfBirth') &&
                editEmployeeForm.get('dateOfBirth')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
        <span
          *ngIf="data.departments as departments"
          id="input-group"
          class="flex flex-wrap gap-2 items-center relative"
        >
          <label for="department" class="text-sm md:text-base font-bold md:basis-1/4 dark:text-white"
            >Department:
          </label>
          <select
            id="department-selections"
            formControlName="department"
            class="{{ isEdit ? 'bg-gray-50' : 'bg-gray-200' }} {{
              editEmployeeForm.get('department')?.errors &&
              isDirtyOrTouched('department')
                ? 'border-red-500 outline-red-500 dark:border-red-500'
                : 'border-gray-300'
            }} text-sm md:text-base w-full md:flex-1 border border-gray-300  text-gray-900 text-md rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2 py-2 md:py-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option value="0">Choose a department</option>
            <option
              *ngFor="let department of departments"
              value="{{ department.id }}"
            >
              {{ department.departmentName }}
            </option>
          </select>

          <div
            *ngFor="let validation of validateMessages.department"
            class="z-10 absolute top-2 right-2 w-1/3"
          >
            <span
              *ngIf="
                isDirtyOrTouched('department') &&
                editEmployeeForm.get('department')?.hasError(validation.type)
              "
              class="hide-tooltip border py-1 border-red-500 bg-red-50 rounded-lg text-center font-bold text-xs text-red-500"
            >
              {{ validation.message }}
            </span>
          </div>
        </span>
      </div>
    </div>
  </form>

  <div
    class="w-full md:w-4/5 py-2 border rounded-md flex flex-col gap-2 items-center mt-4 dark:border-gray-700"
  >
    <div class="w-full">
      <p class="ml-2 font-bold text-lg dark:text-white">
        Employee's assignments
      </p>
    </div>
    <div class="w-full px-2">
      <app-assignment-table
        [projectId]="0"
        [employeeId]="employeeId"
      ></app-assignment-table>
    </div>
  </div>

  <div
    class="w-full md:w-4/5 py-2 border rounded-md flex flex-col gap-2 items-center mt-4 dark:border-gray-700"
  >
    <div class="w-full">
      <p class="ml-2 font-bold text-lg dark:text-white">Employee's relatives</p>
    </div>
    <div class="w-full px-2">
      <app-relative-table [employeeId]="employeeId"></app-relative-table>
    </div>
  </div>
</div>
