<div
  *ngIf="{ relativeList: relativeList$ | async } as data"
  class="flex w-full flex-col gap-3 items-center"
>
  <div class="w-full flex justify-between">
    <button
      title="Add relative"
      class="rounded-full basis-10 bg-blue-500 hover:bg-blue-800 px-1 py-1"
    >
      <img class="w-8 h-8" src="../../../assets/add.png" alt="Add" />
    </button>
  </div>

  <div *ngIf="data.relativeList as relativeList" class="w-full">
    <div
      class="w-full overflow-x-scroll md:overflow-auto rounded-md dark:border-gray-700"
    >
      <table
        class="table-auto overflow-scroll md:overflow-auto w-full text-left font-inter border"
      >
        <thead class="rounded-lg text-base text-white font-semibold w-full">
          <tr class="bg-blue-500">
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              No.
            </th>
            <th
              class="py-3 px-3 text-whitesm:text-base font-bold whitespace-nowrap"
            >
              Full name
            </th>
            <th
              class="py-3 px-3 text-whitesm:text-base font-bold whitespace-nowrap"
            >
              Gender
            </th>
            <th
              class="py-3 px-3 text-whitesm:text-base font-bold whitespace-nowrap"
            >
              Phone number
            </th>
            <th
              class="py-3 px-3 text-whitesm:text-base font-bold whitespace-nowrap"
            >
              Relationship
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Employee
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody
          *ngFor="let relative of relativeList.relatives; index as i"
        >
          <tr class="{{ i % 2 === 0 ? 'bg-white' : 'bg-blue-100' }}">
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ i + 1 }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              <a
                routerLink="/home/relative/{{ relative.id }}"
                class="text-blue-500 hover:text-blue-800 cursor-pointer"
                >{{ relative.fullName }}</a
              >
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ relative.gender }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ relative.phoneNumber }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ relative.relationship }}
            </td>
            <td
              *ngIf="relative.employee as employee"
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{
                employee.firstName +
                  " " +
                  (employee.middleName === null
                    ? ""
                    : employee.middleName + " ") +
                  employee.lastName
              }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === relativeList.relatives.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              <span class="flex gap-2">
                <img
                  class="cursor-pointer w-5 h-5"
                  src="../../../assets/pen.png"
                  alt="Edit"
                />
                <img
                  class="cursor-pointer w-5 h-5"
                  src="../../../assets/delete.png"
                  alt="Delete"
                />
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="w-full flex justify-center sm:justify-between flex-col sm:flex-row gap-5 mt-1.5 px-1 items-center"
    >
      <div class="text-lg dark:text-white">
        Showing {{ showInfo(relativeList).from }} to
        {{ showInfo(relativeList).to }}
        of {{ relativeList.totalCount }} entries
      </div>
      <div class="flex">
        <ul
          class="flex justify-center items-center gap-x-[10px]"
          role="navigation"
          aria-label="Pagination"
        >
          <li
            class="flex hover:bg-blue-800 make-filter items-center justify-center w-[36px] rounded-[6px] 
            h-[36px] border-[1px] border-solid border-[#E4E4EB] dark:border-gray-700 {{
              disablePrev()
                ? 'bg-[#cccccc] pointer-events-none'
                : 'cursor-pointer'
            }}"
            (click)="onPrev()"
          >
            <img
              src="https://www.tailwindtap.com/assets/travelagency-admin/leftarrow.svg"
            />
          </li>
          <li
            *ngFor="let page of numberOfPagination"
            class="flex hover:bg-blue-800 hover:text-white items-center justify-center w-[36px] rounded-[6px] h-[34px] border-solid border-[1px] cursor-pointer dark:text-white dark:border-gray-700 {{
              page === currentPage
                ? 'text-blue-600  border-sky-500 dark:text-blue-600  dark:border-blue-600'
                : 'border-[#E4E4EB]'
            }}"
            (click)="onSelectPage(page)"
          >
            {{ page }}
          </li>
          <li
            class="flex make-filter hover:bg-blue-800 items-center justify-center w-[36px] rounded-[6px] h-[36px] border-[1px] border-solid border-[#E4E4EB] dark:border-gray-700 {{
              disableNext(relativeList)
                ? 'bg-[#cccccc] pointer-events-none'
                : 'cursor-pointer'
            }}"
            (click)="onNext(relativeList)"
          >
            <img
              src="https://www.tailwindtap.com/assets/travelagency-admin/rightarrow.svg"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
