<div
  *ngIf="{
    departments: departmentList$ | async,
    projectList: projectList$ | async
  } as data"
  class="min-h-screen h-full flex flex-col gap-3 items-center"
>
  <app-loading></app-loading>

  <div class="w-full flex justify-between max-w-4xl gap-1" *ngIf="!isLoading()">
    <div class="flex gap-1 flex-1 max-h-11">
      <button
        *ngIf="authService.hasRole(['ADMIN', 'USER'])"
        title="Add project"
        class="rounded-full bg-blue-500 hover:bg-blue-800 px-1 py-1 dark:bg-blue-900 dark:hover:bg-blue-950"
      >
        <img class="w-7 h-7" src="../../../assets/add.png" alt="Add" />
      </button>

      <!-- Searchbox -->
      <div class="relative w-full max-h-11 flex items-center">
        <input
          type="search"
          id="default-search"
          class="max-h-11 outline-none block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search by project's name"
        />
        <button
          type="button"
          class="text-white absolute right-2.5 bottom-1.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 hover:ring-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          <svg
            class="w-3 h-3 text-white dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Select menu -->
    <!-- <select
      *ngIf="data.departments as departments"
      id="department-selections"
      (change)="onSelectDepartment($event)"
      class="overflow-y-auto bg-gray-50 border basis-60 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="0" selected>All Departments</option>
      <option
        *ngFor="let department of departments"
        value="{{ department.id }}"
      >
        {{ department.departmentName }}
      </option>
    </select> -->
    <div *ngIf="data.departments as departments" class="relative basis-60">
      <button
        type="button"
        class="relative max-h-11 overflow-y-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        aria-haspopup="listbox"
        aria-expanded="true"
        aria-labelledby="listbox-label"
        (click)="onShowDropDown()"
        (blur)="onBlurDropDown()"
      >
        <span class="flex items-center">
          <span class="block truncate">{{
            onShowDepartmentName(departments)
          }}</span>
        </span>
        <span
          class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2"
        >
          <svg
            class="h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </button>
      <ul
        class="{{
          isShowDropDown ? '' : 'hidden'
        }} absolute z-3 mt-1 max-h-56 w-full overflow-y-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        tabindex="-1"
        role="listbox"
        aria-labelledby="listbox-label"
        aria-activedescendant="listbox-option-3"
      >
        <li
          class="text-gray-900 relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-slate-200 dark:hover:bg-gray-600"
          id="listbox-option-0"
          role="option"
          (click)="onSelectDepartment(0, -1)"
        >
          <div class="flex items-center">
            <span class="block truncate dark:text-white">All departments</span>
          </div>
          <span
            *ngIf="departmentId === 0"
            class="text-blue-600 dark:text-blue-300 absolute inset-y-0 right-0 flex items-center pr-4"
          >
            <svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </li>
        <li
          *ngFor="let department of departments; index as i"
          class="text-gray-900 relative cursor-pointer select-none py-2 pl-3 pr-9 hover:bg-slate-200 dark:hover:bg-gray-600"
          id="listbox-option-0"
          role="option"
          (click)="onSelectDepartment(department.id, i)"
        >
          <div class="flex items-center">
            <span class="block truncate dark:text-white">{{
              department.departmentName
            }}</span>
          </div>
          <span
            *ngIf="department.id === departmentId"
            class="text-blue-600 dark:text-blue-300 absolute inset-y-0 right-0 flex items-center pr-4"
          >
            <svg
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="data.projectList as projectList" class="w-full max-w-4xl">
    <div
      class="w-full overflow-x-scroll md:overflow-auto max-w-7xl 2xl:max-w-none rounded-md dark:border-gray-700"
    >
      <table
        class="table-auto overflow-scroll md:overflow-auto w-full text-left font-inter border"
      >
        <thead class="rounded-lg text-base text-white font-semibold w-full">
          <tr class="bg-blue-500 dark:bg-blue-900">
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              No.
            </th>
            <th
              class="py-3 px-3 text-whitesm:text-base font-bold whitespace-nowrap"
            >
              Project's name
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Area
            </th>
            <th
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap"
            >
              Department
            </th>
            <th
              *ngIf="authService.hasRole(['ADMIN', 'USER'])"
              class="py-3 px-3 text-white sm:text-base font-bold whitespace-nowrap flex justify-center"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let project of projectList.projects; index as i">
          <tr
            class="{{
              i % 2 === 0
                ? 'bg-white dark:bg-slate-300'
                : 'bg-blue-100 dark:bg-sky-600'
            }}"
          >
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === projectList.projects.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ i + showInfo(projectList).from }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === projectList.projects.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              <a
                routerLink="/home/project/{{ project.id }}"
                class="text-blue-500 hover:text-blue-800 dark:text-blue-900 dark:hover:text-black cursor-pointer"
                >{{ project.projectName }}</a
              >
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === projectList.projects.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ project.area }}
            </td>
            <td
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === projectList.projects.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              {{ project.department.departmentName }}
            </td>
            <td
              *ngIf="authService.hasRole(['ADMIN', 'USER'])"
              class="py-2 px-3 font-normal text-base whitespace-nowrap {{
                i === 0
                  ? 'border-t-2 border-black'
                  : i === projectList.projects.length
                  ? 'border-y'
                  : 'border-t'
              }}"
            >
              <span class="flex gap-2 justify-center">
                <img
                  class="cursor-pointer w-5 h-5"
                  src="../../../assets/pen.png"
                  alt="Edit"
                />
                <img
                  *ngIf="authService.hasRole(['ADMIN'])"
                  class="cursor-pointer w-5 h-5"
                  src="../../../assets/delete.png"
                  alt="Delete"
                />
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="w-full flex justify-center sm:justify-between flex-col sm:flex-row gap-5 mt-1.5 px-1 items-center"
    >
      <div class="text-lg dark:text-white">
        Showing {{ showInfo(projectList).from }} to
        {{ showInfo(projectList).to }}
        of {{ projectList.totalCount }} entries
      </div>
      <div class="flex">
        <ul
          class="flex justify-center items-center gap-x-[10px]"
          role="navigation"
          aria-label="Pagination"
        >
          <li
            class="flex hover:bg-blue-800 make-filter items-center justify-center w-[36px] rounded-[6px] h-[36px] border-[1px] border-solid border-[#E4E4EB] dark:border-gray-700 {{
              disablePrev()
                ? 'bg-[#cccccc] pointer-events-none'
                : 'cursor-pointer'
            }}"
            (click)="onPrev()"
          >
            <img
              src="https://www.tailwindtap.com/assets/travelagency-admin/leftarrow.svg"
            />
          </li>
          <li
            *ngFor="let page of numberOfPagination"
            class="flex hover:bg-blue-800 hover:text-white dark:hover:text-white items-center justify-center w-[36px] rounded-[6px] h-[34px] border-solid border-[1px] cursor-pointer {{
              page === currentPage
                ? 'text-blue-600  border-sky-500 dark:text-blue-700 dark:border-blue-800'
                : 'border-[#E4E4EB] dark:text-white dark:border-gray-700'
            }}"
            (click)="onSelectPage(page)"
          >
            {{ page }}
          </li>
          <li
            class="flex make-filter hover:bg-blue-800 items-center justify-center w-[36px] rounded-[6px] h-[36px] border-[1px] border-solid border-[#E4E4EB] dark:border-gray-700 {{
              disableNext(projectList)
                ? 'bg-[#cccccc] pointer-events-none'
                : 'cursor-pointer'
            }}"
            (click)="onNext(projectList)"
          >
            <img
              src="https://www.tailwindtap.com/assets/travelagency-admin/rightarrow.svg"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
